node_modules/
.expo/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

android/build/
android/app/build/
android/.gradle/
android/local.properties
ios/Pods/
ios/build/
*.jsbundle

*.db-journal
*.db-wal
*.db-shm

.DS_Store
*.pem
.env*.local
